<!--load path to static files-->
{% load staticfiles %}
<!--load specific style sheet-->
<link rel='stylesheet' type='text/css' href="{% static 'app1/style.css' %}" />

<!--include and use bootstrap-->
<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <!--logo-->
        <div class='navbar-header'>
            <a class='navbar-brand' href="{% url 'app1:index' %}">MyBrandName</a>
        </div>
    </div>
</nav>

<h1>This is the app1 app homepage!</h1>
{% if all_albums %}
    <ul>
        {% for album in all_albums %}
            <!--<li><a href="/app1/{{ album.id }}/">{{ album.album_title }}</a></li>-->
            <li><a href="{% url 'app1:detail' album.id %}">{{ album.album_title }}</a></li>
            <!--url 'detail' gets the url pattern named detail-->
        {% endfor %}
    </ul>
{% else %}
    <h3>You don't have any albums.</h3>
{% endif %}